@model List<GestionStock.BL.Models.ProduitModel>

@foreach (var produit in Model)
{
    <div class="col">
        <div class="card h-100 w-100">
            <div class="contentImg h-100 w-100">
                <img src="@produit.srcImage" class="card-img-top h-100 w-100">
            </div>
            <div class="card-body text-center d-flex flex-column justify-content-center justify-content-between">
                <h5 class="card-title">@produit.Nom</h5>
                @if (@produit.Quantite >= 1)
                {
                    <p class="card-text stock" style="color:#35B736">En Stock</p>
                }
                else
                {
                    <p class="card-text rupture" style="color:#E2202C">Rupture</p>
                }
                <p class="card-text">@produit.Categorie.Nom</p>
                <p class="card-text">@String.Format("{0:0.00}",@produit.Prix)€</p>
                <p class="card-text">@produit.Description</p>
                <button type="button" class="btn btn-primary" onclick=modal(@produit.Id) data-toggle="modal" data-target="#exampleModalCenter">Détail du produit</button>
            </div>
        </div>
    </div>

}

@*Sur mes cards j'ai un btn avec data-toggle modal, j'y réfère la modal ci-dessous*@
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>